<footer class="bg-[#1c3125] text-gray-200 pt-10">
  <div class="max-w-7xl mx-auto px-6 lg:px-8">

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-10">

      <!-- Brand (Left Side) -->
      <div class="flex flex-col items-center md:items-start">
        <div class="bg-white rounded-md p-2 flex justify-center">
          <img src="/logo.png" alt="Logo" class="h-20 w-60 object-contain items-center"/>
        </div>
        <p class="text-gray-400 mt-3">
          Providing high quality services with love and care.
        </p>
      </div>

      <!-- Quick Links (Right aligned on tablet/desktop) -->
      <div class="flex flex-col items-center sm:items-center  text-center md:text-right">
        <h3 class="text-xl font-semibold text-white mb-4">Quick Links</h3>
        <ul class="space-y-2 text-center">
          <li><a href="javascript:void(0)" (click)="scrollToSection('home-section')" class="hover:text-blue-400 transition duration-300">Home</a></li>
          <li><a href="javascript:void(0)" (click)="scrollToSection('about-section')" class="hover:text-blue-400 transition duration-300">About</a></li>
          <li><a href="javascript:void(0)" (click)="scrollToSection('facilities-section')" class="hover:text-blue-400 transition duration-300">Services</a></li>
          <li><a href="javascript:void(0)" (click)="scrollToSection('contact-section')"  class="hover:text-blue-400 transition duration-300">Contact</a></li>
          <li><a href="/login" class="hover:text-blue-400 transition duration-300">Login</a></li>
        </ul>
      </div>

      <!-- Social (Right aligned on tablet/desktop) -->
      <div class="flex flex-col items-center sm:items-center text-center md:text-right">
        <h3 class="text-xl font-semibold text-white mb-4">Social</h3>
        <div class="flex gap-6 text-lg ">
          <a href="#" class="hover:text-blue-500 transition"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="hover:text-blue-400 transition"><i class="fab fa-twitter"></i></a>
          <a href="https://www.instagram.com/fouji_library2023/" class="hover:text-pink-500 transition"><i class="fab fa-instagram"></i></a>
        </div>
      </div>

    </div>

    <hr class="my-8 border-gray-700">

    <!-- Copyright -->
    <div class="flex flex-col sm:flex-row justify-between items-center text-gray-400 pb-6 text-sm">
      <p class="text-center">© 2025 Fouji Book Garden Library. All rights reserved.</p>
      <p class="mt-2 sm:mt-0">Developed by AS</p>
    </div>

  </div>
</footer>
