<div *ngIf="loading" class="loader-overlay">
  <span class="loader"></span>
</div>
  <simple-notifications [options]="notificationOptions"></simple-notifications>
<app-admin-header></app-admin-header>

<!-- Table Card -->
<div class="bg-white rounded-2xl shadow-md border border-gray-200 p-4 md:p-8 mx-3 md:mx-6 my-6 md:my-8">
  <h2 class="text-2xl font-semibold text-gray-800 mb-4">
    Complaint
  </h2>

 <div class="overflow-x-auto bg-white rounded-xl shadow">
  <table class="min-w-full text-left border-collapse">
    <thead>
      <tr class="border-b bg-gray-100 text-gray-700">
        <th class="px-4 py-3">Complaint No</th>
        <th class="px-4 py-3">Student ID</th>
        <th class="px-4 py-3">Complaint Type</th>
        <th class="px-4 py-3">Message</th>
        <th class="px-4 py-3">Date</th>
        <th class="px-4 py-3">Action</th>
      </tr>
    </thead>

    <tbody>
      <!-- DATA ROWS -->
      <tr
        *ngFor="let comp of complaints; let i = index"
        class="border-b hover:bg-gray-50"
      >
        <td class="px-4 py-3">{{ i + 1 }}</td>
        <td class="px-4 py-3">{{ comp.userId }}</td>
        <td class="px-4 py-3">{{ comp.issueType }}</td>
        <td class="px-4 py-3">{{ comp.message }}</td>
        <td class="px-4 py-3">
          {{ comp.createdAt | date: 'dd MMM yyyy' }}
        </td>

        <td class="px-4 py-3">
          <div class="flex gap-2">
            <!-- Delete Button -->
            <button (click)="deletedata(comp.complaintId)"
              class="w-10 h-10 flex items-center justify-center
                    bg-red-100 text-red-600
                    rounded-lg hover:bg-red-200 transition"
              title="Delete"
            >
              <i class="fa-solid fa-trash"></i>
            </button>

          </div>
        </td>

      </tr>

      <!-- NO RECORDS -->
      <tr *ngIf="complaints?.length === 0">
        <td colspan="6" class="text-center py-6 text-gray-500">
          No records found
        </td>
      </tr>
    </tbody>
  </table>
</div>


 
</div>
